body {
    background: linear-gradient(to right, #7fa8b2, #dfe9f3);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
}

h1 {
    font-size: 68px;
    margin-bottom: 5px;
    color: #1bae29;
}

h2 {
    margin-top: 20px;
}

h3 {
    color: #ce4ed5;
}

i {
    color: #e74c3c;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 8px 0;
    color:#f9f917;
}

img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 7px 5px 20px rgba(195, 41, 41, 0.434);
}